{% extends "base.html" %}

{% block title %}WorNDly by manor-quad!{% endblock %}

{% block content %}
<style>
  /* CSS styles */
  body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
  }
  input {
    font-size: 20px;
    border: 2px solid pink;
    border-radius: 4px;
    padding: 20px;
  }
  .center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-container {
    text-align: center; /* Center the button horizontally */
    margin-top: 20px; /* Add some space between the form and the button */
  }
  .button {
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
    padding: 20px;
    transition-duration: 0.4s;
    display: inline-block; /* Change display to inline-block */
  }
  .button:hover {
    background-color: #04AA6D;
    color: white;
  }
</style>

<h2 style="text-align: center; margin-bottom: 20px;">Buy Game Plays!</h2>

<div class="center">
  <h3>Welcome to the Krato$Coin store, {{ user.username }}. You have {{ num_games }} coins.</h3>
</div>


<form method="post" class="button-container"> <!-- Add the button-container class to the form -->
  <div>
    {% csrf_token %}
    <label for="num_plays">Number of game plays to purchase (number > 1):</label>
    <input type="number" id="num_plays" name="num_plays" required>
    <button class="button" type="submit">Purchase</button> <!-- Add the button class -->
  </div>
</form>

{% if response %}
  <p style="text-align: center">{{ response }}</p>
{% endif %}

{% endblock %}
